{% extends 'base.html' %}

{% block title %}
Выходные
{% endblock %}


{% block body %}
    <div class="container">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">4<small class="text-body-secondary fw-light">дня</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>7 мая</li>
              <li>8 мая</li>
              <li>9 мая</li>
              <li>10 мая</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Планы на выходные</button>
          </div>
    </div>
{% endblock %}
